@import 'tailwindcss';

html,
body {
  @apply bg-white dark:bg-gray-950 px-5;
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  .console-line {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 500;
    @apply bg-gray-100 dark:bg-gray-800 p-2 rounded mb-1 flex justify-between;
  }
  .console-log {
    @apply text-gray-800 dark:text-gray-200;
  }
  .console-info {
    @apply border border-blue-600 dark:border-blue-400;
  }
  .console-error {
    @apply text-red-600 border border-red-600 dark:text-red-400 dark:border-red-400;
  }
  .console-warn {
    @apply border border-yellow-600 dark:border-yellow-400;
  }
  .console-key {
    @apply text-blue-600 dark:text-blue-400 font-semibold;
  }
  .console-undefined {
    @apply text-gray-500 dark:text-gray-400;
  }
  .console-primitive,
  .console-null {
    @apply text-pink-900 dark:text-pink-400;
  }
}
